[2014-06-03 17:55] ghost opened #2 "Different display periods"
It would be great to have the display length variable based on notification type. Ie a success message might only be up for a short time, while an error might want to stick around a bit longer since the messages might be longer. If this could be custom per app, that would be useful as well.

[2014-06-04 06:58] #2 closed, assigned to nobody

[2014-07-04 05:06] chrishough opened #4 "ember cli bug?"
how did you get this working in CLI?

[code]

The import does not seem to work, and I had to add this to my bower file `"ember-notify": "latest",` to get this to be recognized by your setup. I added the requirement to the brocfile too.

The js error when I try to run this in debugger:

[code]

If I try to run `import Notify from 'ember-notify';` I get:

[code]

Example:

[code]

[2014-07-07 02:34] #4 closed, assigned to nobody

[2014-07-13 18:47] MaazAli opened #5 "Not able to add this to EmberCLI"
I'm trying to add this to my Ember-CLI app thats running on v0.0.39

I've added the following statements to my `Brocfile.js`

[code]

I'm not sure if I am missing something but I thought you needed to add something in your `package.json` file, but I don't see what to add there.

When I try to build it I get the following error:

[code]

[2014-07-14 03:29] gzurbach opened #6 "Support for bootstrap"
Hi there!

I came across your project by accident while looking for a solution to get alertify working with ember-cli. It seems that alertify is not maintained anymore and it might be time for me to switch to something else.
I tried to install ember-notify and it runs like a charm! However, I'm using bootstrap and the notification box is currently... transparent.
My skills in graphic design are pr

[2014-07-14 03:56] #5 closed, assigned to nobody

[2014-07-14 08:01] #6 closed, assigned to nobody

[2014-07-21 19:35] oliverbarnes opened #7 "Testing"
I got ember-notify working quickly and can manually test that it shows fine. (thanks for the addon!)

But I'm struggling to get a test to detect it. Using mocha-adapter over qunit, I'm trying

[code]

I looked at ember-notify's own tests and they seem to just do the same thing. Am I missing something?

[2014-07-24 00:59] #7 closed, assigned to nobody

[2014-07-27 19:58] rganz opened #8 "Append Notify to an element"
I tried to append a notify to a specific element in my page, because the notifications appeared always at the bottom of the Screen and I want it next to the button the user clicked.

I put exactly the same code from the README to an action in my controller:

[code]

And i got:

[code]

Is there another way to use Notify on specific elements?

I am using latest (master) ember-cli and canary ember.

[2014-07-27 22:32] jackmatt2 opened #9 "ember-addon-main is deprecated"
Getting the following deprecation warning in ember-cli 0.0.40

[code]

[2014-07-29 01:15] #8 closed, assigned to nobody

[2014-07-29 01:15] #9 closed, assigned to nobody

[2014-07-29 06:32] seifsallam opened #10 "Working with bootstrap"
Is there a full example for using with Bootstrap, i can't get it to work?

[2014-07-29 11:37] #10 closed, assigned to nobody

[2014-08-06 10:58] ghost opened #11 "Clearing notifications on app destroy"
I'm using ember-notify all over the show, and have noticed that these messages stick around during my test runner. It would be great if the notifications would be removed when the app is destroyed. This is generally not noticeable during production so not very high priorty.

[2014-08-15 04:14] #11 closed, assigned to nobody

[2014-08-15 19:42] knownasilya opened #13 "Notify.config() for default configurations"
Would be nice to have something along those lines, where `Notify.config({..})` sets the default values to be used, unless they are overridden by `Notify.[type](message, {..})`.

This would include options like `removeAfter`, `closeAfter`, but not limited to those.

[2014-08-17 22:25] #13 closed, assigned to nobody

[2014-08-25 19:20] brancusi opened #14 "Setting defaults"
Thank you for the add-on!

Quick question, what is the ideal place to make the: "Notify.useBootstrap();" call?

Can this be set once during startup?

Thanks

[2014-08-25 22:26] #14 closed, assigned to nobody

[2014-10-16 10:21] egeriis opened #15 "Alert doesn't work for Bootstrap"
In Bootstrap, the alert style is actually called "danger". Since ember-notify sets an alert class, there's no styling of the message box. If I do `Notify.show('danger', 'Message')` it works perfectly.

![image](https://cloud.githubusercontent.com/assets/579824/4660973/1098e9fa-551e-11e4-9877-20baf3c1f901.png)

[2014-10-20 10:38] #15 closed, assigned to nobody

[2014-10-31 11:46] ghost opened #17 "Bug: Notify 'undefined' on Ember 1.8"
In every notification the word 'undefined' is appended to the text. I have tried to have a look around but ran out of time to figure out why that would happen.

[2014-11-03 06:00] #17 closed, assigned to nobody

[2014-12-10 12:42] joostdevries opened #18 "Notify container is not attached to test container"
The container for the notifications is not rendered within the testing container. Because of this, notifications are not removed after a test completes.

ember-cli 0.1.1

vendor.js:28481 DEBUG: Ember      : 1.8.0-beta.4
vendor.js:28481 DEBUG: Ember Data : 1.0.0-beta.11
vendor.js:28481 DEBUG: Handlebars : 1.3.0
vendor.js:28481 DEBUG: jQuery     : 1.11.1

[2014-12-15 15:10] davekaro opened #19 "Does not work with Ember 1.9 (and Handlebars 2.0)"
I get an error `Uncaught Error: Unknown template object: function`

This makes sense since the Handlebars API probably changed. https://github.com/aexmachina/ember-notify/blob/master/lib/template.js needs to change, I'm just not sure how exactly.

[2014-12-22 07:04] #19 closed, assigned to nobody

[2014-12-22 17:04] knownasilya opened #21 "Allow to register as a service"
Have inject locations specifiable in the configuration, so `['controller', 'route:application']` will insert a `notify` object into all controllers and the ApplicationRoute, for example.

Can be used with `this.notify.info('Hey there.');`

[2015-01-06 14:53] wheredoesyourmindgo opened #24 "Position of Close Styling (&times;)"
In order to get the close button to look correct when the notification pops up, I had to move the anchor tag inside of the div as follows or else it would wrap below.  The following edit to ember-notify.hbs seemed to resolve the issue.  Is this the correct workaround?

{{#each message in messages}}
  {{#view view.messageClass message=message}}
    <div class='message'>{{message.message}}{{{message

[2015-01-06 16:09] btecu commented on #24
I have this issue too and I use Bootstrap. I was wondering if it was a conflict with my CSS or an issue with ember-notify.

[2015-01-07 00:51] btecu commented on #21
Is this part of version 3?

[2015-01-07 04:13] aexmachina commented on #21
No, but thanks for reminding me. I'll do that tonight.

[2015-01-07 11:08] aexmachina commented on #21
This has been added v3.0.5

[2015-01-11 19:37] jcope2013 opened #25 "Removal of Notify.useBootstrap()"
seems that is no longer available as a global option, is it being brought back?

I did this instead in my initializers folder if other people are looking for a solution

[code]

[2015-01-11 20:21] btecu commented on #25
It's not necessary anymore.

First of all, current version already registers as a service, so you don't have to do what you're doing.
Second, with current version if you want to use Bootstrap, just use `{{ember-notify messageStyle='bootstrap'}}`.

[2015-01-11 21:10] aexmachina commented on #25
That's correct @btecu. @jcope2013 there's instructions in the [CHANGELOG](https://github.com/aexmachina/ember-notify/blob/master/CHANGELOG.md) for upgrading to v3.0.

[2015-01-11 21:10] #25 closed

[2015-01-14 12:10] lolmaus opened #26 "Request: demo"
Could you please publish a demo via Github Pages?

[2015-01-18 03:26] malchak commented on #26
@lolmaus I just put together the most basic implementation of this addon.  You can clone it here https://github.com/malchak/notify-example, and run it locally.

[2015-01-18 11:23] lolmaus commented on #26
Awesome, thank you! There's only one step left: build the demo and push it to the `gh-pages` branch of `malchak/notify-example`.

[2015-01-19 05:20] aexmachina commented on #26
Hi there, sorry for the quiet on this issue, been very busy getting a beta release ready. I've nearly finished a project page for this, but I'm moving all my project pages to [my blog](http://aexmachina.info/), and it's not finished yet. Will advise when it's done (hopefully soon).

[2015-01-23 12:34] aexmachina commented on #26
I've finally added a project page and demo to my blog: http://aexmachina.info/ember-notify. Enjoy!

[2015-01-23 12:34] #26 closed

[2015-01-23 12:50] lolmaus commented on #26
Nice, thank you.

[2015-01-25 08:01] josemarluedke opened #29 "How to not load the styles automatically?"
Hi there.

Is there a way to not automatically load the styles ([vendor/ember-notify.css](https://github.com/aexmachina/ember-notify/blob/master/vendor/ember-notify.css)) so I can make my own? With that I wouldn't need to overtire all the properties that are already defined.

Thanks, J.

[2015-01-26 04:19] aexmachina commented on #29
I've just pushed v3.0.12 which adds support for this. You need to specify an option in your Brocfile.js:

[code]

[2015-01-26 04:19] #29 closed

[2015-01-26 04:20] #21 closed

[2015-01-26 04:20] aexmachina commented on #18
This is resolved in v3.0.

[2015-01-26 04:20] #18 closed

[2015-01-26 04:22] josemarluedke commented on #29
That's awesome! Thank you so much.

[2015-01-26 05:47] aexmachina commented on #29
Hey if you feel like sharing your styling I'm thinking about add support for "themes" that provide different ways of presenting the notifications and it'd be good to have another one to start with.

[2015-02-06 00:47] aexmachina opened #30 "It is not possible to avoid auto-closing of the notification message, because the default value of closeAfter takes precedence over the falsy value specified in the message."
Refs [this comment](https://github.com/aexmachina/ember-notify/commit/d75f3a3639b3c46c91cd25ef8c3d67899ea3e939#commitcomment-9600447)

[2015-02-06 00:48] #30 closed

[2015-02-06 11:31] lolmaus opened #31 "Freeze!"
Hi!

Not sure whether the reason behind this is my incompetence or a problem in ember-notify.

Here's how i use it in my `application.hbs` template:

[code]

Here's how i use it in a component action:

[code]

Here's how i call the action from the template:

[code]

When the promise is rejected, the ember-notify notification is displayed. After that, the tab freezes in Chrome with 100% CPU allocat

[2015-02-06 11:56] lolmaus commented on #31
I've updated the top post with a reduced case.

[2015-02-06 12:12] lolmaus commented on #31
Here's Chrome CPU profile:

[![image](https://cloud.githubusercontent.com/assets/200884/6079081/c269c414-ae11-11e4-9999-146902bb9843.png)](https://cloud.githubusercontent.com/assets/200884/6079081/c269c414-ae11-11e4-9999-146902bb9843.png)

Looks like a recursion:

[![image](https://cloud.githubusercontent.com/assets/200884/6079150/71c500e0-ae12-11e4-904a-d6c110221ef8.png)](https://cloud.githubuser

[2015-02-10 19:58] gevious opened #32 "HTMLbars"
I run into issues when using this along side Embe 1.10.0 which doesn't have Handlebars

    template must be a function. Did you mean to call Ember.Handlebars.compile("...") or specify templateName instead?

I've narrowed it down to the lib/templates.js file.

[2015-02-12 00:33] aexmachina commented on #32
Interesting, okay I can see the issue now. Will look into it. Thanks for the report.

[2015-02-12 00:36] aexmachina commented on #32
Strangely, the test suite runs fine on ember 1.10...

[2015-02-12 02:18] aexmachina commented on #31
Are you using Ember 1.10? I've just been made aware of an issue with HTMLBars that I haven't had a chance to fix yet.

[2015-02-12 04:15] lolmaus commented on #31
Nope, i'm still on 1.9.

[2015-02-12 06:16] aexmachina commented on #32
I've just updated ember-cli in ember-notify and added it to a new ember-cli app running ember 1.10.0 and it's working fine for me. Are you sure that your ember-cli is set up correctly for ember 1.10?

[2015-02-12 06:16] aexmachina commented on #32
Maybe try the new version 3.0.16, but I'm doubtful that will fix whatever your version is.

[2015-02-12 19:47] csand opened #33 "IE8 Script Timeouts"
I've been debugging our app for the past few days and finally tracked down the source of several script timeouts + total browser crashes in IE 8 to ember-notify. There's nothing in the README about supported browsers at the moment, so I'm wondering if there's even intent to support IE 8.

Setup:
ember-cli 0.1.12
ember 1.10
ember-notify 3.0.16

[2015-02-12 21:16] aexmachina commented on #33
Oh wow, you poor guy!​ Man I'm sorry to hear that. I've never ever run
ember-notify in IE8. Can you please send me a list of the IEs that you've
tried and whether it works or not. Also there's a demo app here that you
can use to test in a vanilla environment:

http://aexmachina.info/assets/ember-demos/#/ember-notify

[2015-02-12 22:59] csand commented on #33
Not a problem, just something I wish I'd known about going in. We're currently working on IE 8 and 9 as they're the most prone to errors, but haven't seen any issues with ember-notify in IE 9. The demo app won't even boot in IE 8, but it's 100% fine in IE 9.

[2015-02-12 23:21] aexmachina commented on #33
I gotta say, I'm not likely to add support for IE8. I'll update the README
to indicate that IE8 and below are not supported.​

[2015-02-12 23:24] #33 closed

[2015-02-13 00:09] csand commented on #33
No worries, I was going to suggest this be closed anyways. Thanks for adding it to the README.

[2015-02-19 18:42] hhff opened #35 "Message Queue"
This lib is fantastic!

Is there a way to set it to show messages in a queue, rather than stacking?

Ie for
[code]
It would act like:
[code]

If not - I'd be happy to submit a PR?  Just wanna check to see if it's possible first!

[2015-02-19 20:22] aexmachina commented on #35
Those messages return promises which resolve when the message is shown, so you could use that. But there's no event that you could use when they close. You could add a `messageClosed` action to the component and use that. PRs welcome!

[2015-02-19 20:29] hhff commented on #35
gnarly, will get to it sometime in the next week or so!

[2015-02-19 20:37] hhff commented on #35
Ultimately I just want to be able to use this lib for both standard flash messages + growl style

[2015-02-22 02:51] noranda opened #36 "Losing focus"
I am relatively new to ember, but I have decided to learn it better by building a new app. In this app I use ember-notify to alert the user if a form input field saves successfully or not. My form is designed to easily tab to the next field to enter the next input text. The problem is that once a notification pops up the form loses focus, causing the user to have to click on the next field (there

[2015-02-22 03:26] noranda commented on #36
It turns that it was a problem with my form re-rendering, which I somehow did not notice. Sorry for the non-issue! Keep up the great work. I was very happy to find this addon after not being happy with the design of noty. Kudos!

[2015-02-22 03:26] #36 closed

[2015-02-23 11:06] rudymalhi commented on #31
I'm having a similar issue with Ember 1.10

[2015-02-23 11:40] aexmachina commented on #31
Is anyone able to share some code with me so I can try to fix the problem?
I can't currently reproduce the issue.

On Mon, 23 Feb 2015 22:06 Rudy Malhi <notifications@github.com> wrote:

[2015-02-26 13:56] herrherrmann opened #37 "ember-notify without ember cli"
Hey there,

I know ember cli is recommended but I'm currently tinkering with a "non-cli" ember 1.10 and would like to try out this notify addon. Is there a pre-compiled version of ember-notify.js for me to import into ember?

Thanks in advance for your help!

[2015-02-27 04:53] aexmachina commented on #37
You'll need to use an older version. [v1.2.0](https://github.com/aexmachina/ember-notify/tree/v1.2.0) definitely supports this, but [v2.0](https://github.com/aexmachina/ember-notify/tree/v2.0.0) may also support it as well.

[2015-02-27 04:53] #37 closed

[2015-03-01 20:53] gevious commented on #32
I've looked at this again and it works with 3.0.16

[2015-03-01 20:53] #32 closed

[2015-03-01 23:48] herrherrmann commented on #37
Sounds good and thanks for the fast response!
But can you tell me which files from v1.2.0 are necessary for using ember-notify (without cli)? Can I just import ember-addon.js?

[2015-03-02 00:01] griffind opened #38 "Unable to get the css to style the notifications."
For some reason the notification boxes are not being styled by ember-notify.css. All of the notification boxes are grey with black text, regardless of using .success, .warning, etc.

Any ideas?

[2015-03-02 00:59] aexmachina commented on #37
Instructions are [in the README](https://github.com/aexmachina/ember-notify/tree/v1.2.0#module-formats), you'll want one of the build module formats in `dist/` from memory.

[2015-03-02 01:00] aexmachina commented on #38
It's based on Foundation or Bootstrap styling, so you'll want one of those or roll you own.

[2015-03-02 01:28] griffind commented on #38
Okay, that makes sense, thank you for the quick reply. Could you point me in the right direction to style according to whether it is .success or .warning, etc. I'm new to this stuff so thank you for your patience.

[2015-03-02 02:22] #38 closed

[2015-03-02 04:50] aexmachina commented on #38
The messages will have CSS classes info, success, warning and alert. You
can use the browser Dev Tools and *Inspect element* to see what it’s
generating.​
​

[2015-03-13 17:52] brweber2 opened #40 "Style not correct with bootstrap"
In vendor/ember-notify.css:

    .ember-notify {
      /* the following is purely so that it doesn't look broken without Foundation installed */
      box-sizing: border-box;
      background: #ccc;
      padding: 10px;
    }

However, that background causes problems when messageStyle='bootstrap' is used. The gray wins instead of the green, pink, etc.

[2015-03-14 15:10] speed1speed1 opened #41 "Can I modify the position?"
I need a "top center" notify.
Thanks.

[2015-03-15 23:21] listepo commented on #41
+1

[2015-03-17 03:23] aexmachina commented on #40
Okay thanks, what about if you change that to `border: #ccc;`?

[2015-03-17 03:39] brweber2 commented on #40
Based on my first test, I think that should work.  I cleared my browser cache before testing, but having someone else verify as well might be a good idea. :)

Thanks!

[2015-03-18 14:14] chrmod opened #43 "app build crash with production env [3.1.2]"
Running `ember build --environment=production` makes the build crash:
[code]
it is working properly with **3.1.1**.

Crash is caused by those lines:
* https://github.com/aexmachina/ember-notify/commit/b7c18e26bc1d64cba5228534f1215c6487cf0108#diff-6730b55ac91537d06ddac49f73f066f9R29
* https://github.com/aexmachina/ember-notify/commit/b7c18e26bc1d64cba5228534f1215c6487cf0108#diff-6730b55ac91537d06dd

[2015-03-18 14:53] topaxi commented on #43
It seems to crash due to this line: https://github.com/aexmachina/ember-notify/commit/b7c18e26bc1d64cba5228534f1215c6487cf0108#diff-6730b55ac91537d06ddac49f73f066f9R29

Looks like addons aren't transpiled before minification? Not sure... might be an ember-cli issue.

[2015-03-18 22:39] aexmachina commented on #43
Weird, okay I've pushed v3.1.4 which removes these.

[2015-03-18 22:40] #43 closed

[2015-03-20 17:00] knownasilya commented on #43
Should be fixed in https://github.com/ember-cli/ember-cli/pull/3564

[2015-03-23 11:28] aexmachina commented on #41
You can do this using CSS. Something like this should do the trick:

[code]

[2015-03-23 11:28] #41 closed

[2015-03-23 11:28] aexmachina commented on #40
This has been done in a recent release. Sorry for not letting you know earlier!

[2015-03-23 11:28] #40 closed

[2015-03-23 11:43] listepo commented on #41
Сan add the ability to select in addon?

[2015-03-23 22:19] aexmachina commented on #41
I'm open to having several `layoutStyle`s in the addon. Feel free to send one over and I'll add it in.

[2015-03-23 22:32] listepo commented on #41
+1

[2015-04-01 22:46] markr79 commented on #35
+1

[2015-04-08 15:06] pmdarrow opened #45 "Writing acceptance tests"
I'm having trouble getting my assertions about notifications to pass in my acceptance tests. I followed your instructions on https://github.com/aexmachina/ember-notify/issues/7 to use `then()` and `Ember.run.next()` but the assertions still fail.

Here's the action on the route that I'm triggering:

[code]

And here's the acceptance test in question:

[code]

The `'it shows a success message'` ass

[2015-04-12 22:31] aexmachina commented on #45
I think you need to use `andThen()`, rather than `click('#save').then()`. This should wait for all promises to resolve before running the `Ember.run.next()`.

[2015-04-25 04:20] kbullaughey opened #46 "bind not available in phantomjs"
I'm using `phantomjs` version 1.9.7, and `bind` is not available. I see internally you're using a polyfill for bind, but at first glance it seems only used for tests, but there's still a bind call in `addon/index.js`

[2015-04-27 00:41] #46 closed

[2015-04-27 08:59] lan0 commented on #45
`andThen()` works for me :+1:

[2015-04-27 13:01] btecu commented on #35
Any progress on this?

[2015-04-28 05:13] aexmachina commented on #45
@pmdarrow is this still an issue for you? FWIW I'd probably just stub out `this.notify` and assert that `this.notify.success` is called - you're not testing notify, you're testing your app code.

[2015-04-28 06:06] aexmachina commented on #35
Not from me, @hhff?

[2015-04-28 13:03] hhff commented on #35
Haha negative unfort- won't get a chance to look at it for sometime

[2015-04-28 13:03] #35 closed

[2015-05-02 22:29] pmdarrow commented on #45
@aexmachina I think I did try `andThen()` but I'll give it another shot and post my results here.

[2015-05-04 15:53] kenips opened #49 "ember-notify 3.2 breaks liquid-fire"
I created this bug when I introduced notify into components. Liquid-fire is also dependent on a property named `notify` (see https://github.com/ef4/liquid-fire/search?utf8=%E2%9C%93&q=notify) so this injection breaks its functionality. This is the danger of injection.

I'm opening a bug in place of an MR since the process is too trivial but the new name probably warrants a discussion. We should ke

[2015-05-05 02:30] aexmachina commented on #49
I don't see why the `notify=foo` bindings would be broken by the injection - they should just overwrite the injected property.

For now, users can override the initializer if they want to use a different name for the injection.

What might be a better option for the next release is to remove the injections from the initializer and people can use `Ember.inject.service()` or create their own initial

[2015-05-05 16:27] anthonycollini commented on #49
I am also receiving this error. When I tried to override the initializer I still couldn't see the flash messages show up.

I then created a new app with just this addon, and it still does not work properly. As you can see at the sample app, no flash message shows up.

https://github.com/anthonycollini/ember-notify-test

[2015-05-05 23:28] aexmachina commented on #49
Hi @anthonycollini, you've exposed a subtle bug. Because you're calling `this.notify.info` in `on('init')`, it's happening before the component has been created. ember-notify has a queue to deal with this case, but it appears that there's a bug in the handling of this case with new versions of ember. I've fixed the problem and pushed v3.2.1.

[2015-05-14 20:05] gevious opened #50 "Ember 1.13.0-beta.1"
I've noticed this component breaks with the latest beta. I get the following message

    object in path "message" could not be found or was destroyed

[2015-05-18 06:52] aexmachina commented on #50
I've pushed v3.3.0 which should fix this.

[2015-05-18 06:52] #50 closed

[2015-05-18 06:53] aexmachina commented on #45
Closing this issue, please reopen if necessary.

[2015-05-18 06:53] #45 closed

[2015-05-18 06:54] aexmachina commented on #49
In the next major release I'll remove the injection from the initializer and users can use `Ember.inject.service()` instead.

[2015-05-18 06:55] aexmachina commented on #31
Closing this issue as can't reproduce. Please reopen if necessary.

[2015-05-18 06:55] #31 closed

[2015-05-18 18:32] tyleriguchi opened #52 "Version 3.3.0 breaks Ember apps < 1.12"
Breaks semantic versioning, any Ember app below 1.12 can't use the new computed syntax

[2015-05-19 01:40] aexmachina commented on #52
Oh dear, thanks for pointing that out. Added 1.11 to my testing scenarios now and will push an update soon.

[2015-05-19 01:41] #52 closed

[2015-05-19 02:33] tyleriguchi commented on #52
Awesome, thanks for the fast response!

[2015-05-19 13:17] knownasilya opened #53 "Acceptance test import failure"
[code]

This looks like an issue with the test loader or with how ember-notify sets up the initializer. Not sure. But it works outside the tests..

[2015-05-20 10:54] aexmachina commented on #53
This looks like an issue in ember-cli, I don't really see what I could do about this. Any ideas?

[2015-05-20 10:54] #53 closed

[2015-05-20 11:51] knownasilya commented on #53
I'm assuming some issue with the test runner. But I mainly posted this as a place for others to find it and link back to an Ember CLI issue.

[2015-05-21 15:20] felixkiss opened #54 "Deprecation warnings on Ember v1.13.0-beta.1"
We just upgraded our app to Ember v1.13.0-beta.1 and I am looking into all deprecation warnings.

I saw you already [tackled](https://github.com/aexmachina/ember-notify/commit/1b4c269708cf7f789949bbb0b4bcd629cf6703e2#diff-7562eb8eba3c3d86a671045f8c70107eL82) the deprecated [shared getter and setter methods](http://emberjs.com/deprecations/v1.x/#toc_computed-properties-with-a-shared-getter-and-sett

[2015-05-25 08:53] mjanda commented on #54
Wouldn't this solve the problem? https://github.com/rwjblue/ember-new-computed

[2015-05-25 12:20] aexmachina commented on #54
Hi @felixkiss, thanks for the issue. There's a complex issue with a deprecation warning from `didInsertElement`, I've had a good look at it but unfortunately I'm flat out with other things right now.

@mjanda, yes that module will resolve the deprecation warnings from the old-style CP. I'd be happy to accept a PR if you're interested?

[2015-06-09 14:25] joshuairl opened #59 "Feature: Any plans of adding Web Notification API integration?"
Just so that the browser is pinged if not in focus and stuff?
Just curious.

[2015-06-10 03:43] aexmachina commented on #59
I'd like to yes, but I've just started a new job and probably won't be using this for a while. So my feeling is that I won't be adding this, although I'd be open to helping someone with a PR.

[2015-06-10 11:45] joshuairl commented on #59
Awesome, congratulations on the new job.  Thank you for all you do for the community.
I'm working on a large project that may make use of this, if so, I might go ahead and just tie into the Web Notification API if available and I'll do a PR when I get it fairly stable.

[2015-06-11 00:46] aexmachina commented on #59
Thanks! That sounds really great to me. Let me know if there's anything I
can do to help.​

[2015-07-01 11:07] wwwdata commented on #54
I also still get a deprecation warning with ember 1.13

[2015-07-03 13:04] shamanime commented on #54
I also get the `Using {{view}}...` deprecation warning.

[2015-07-12 15:39] joostdevries commented on #54
+1

[2015-07-15 17:23] tommyblue commented on #54
+1

[2015-07-16 07:47] joostdevries commented on #54
Isn't this fixable by replacing the MessageView with a component?

[2015-07-16 23:27] aexmachina commented on #54
No, it's because it changes an attribute in didInsertElement.

[2015-07-23 13:05] spruce commented on #54
+1

[2015-07-23 19:47] knownasilya commented on #49
What's the status on this?

[2015-07-24 01:20] aexmachina commented on #49
I switched jobs a couple of months ago and haven't been able to do any open source work. I'll be on holiday week after next, so I'm hoping to do a new version of ember-notify then.

[2015-07-27 11:51] msalahz commented on #54
+1

[2015-07-27 12:00] aexmachina commented on #54
I've started working in the next major version release with full ember 2.0
compatibility. How to have it finished in the next week or so.

[2015-07-27 12:08] tommyblue commented on #54
:+1:

[2015-08-06 13:57] felixkiss commented on #54
@aexmachina Any updates on your major version rewrite?

We want these deprecation warnings gone ;-)

[2015-08-07 00:05] aexmachina commented on #54
Yeah it's finished, just getting tests passing. I think the remaining
failures are actually an ember issue, will confirm tonight. Might have to
release a beta version with some rest failures to get it out the door.

On Thu, 6 Aug 2015 21:57 Felix Kiss <notifications@github.com> wrote:

[2015-08-11 05:41] jcope2013 commented on #54
@aexmachina any update on status?

[2015-08-11 13:27] aexmachina commented on #54
I've pushed a new version to master which should resolve these issues. There's test failures on beta and canary, but I suspect that these are caused by unrelated issues. Can people please test using `ember-notify#master` and if we think it's good to go I'll publish v4.0. Please consult the CHANGELOG for upgrade instructions.

[2015-08-11 16:32] byelipk commented on #54
My app failed to launch when I tried the updated version on master branch. I receive the following error:

[code]

I installed it with:

`npm install git+https://github.com/aexmachina/ember-notify.git --save-dev`

[2015-08-12 01:48] aexmachina commented on #54
Thanks, that's fixed now.

[2015-08-12 05:58] jcope2013 commented on #54
ran into same issue as above on a fresh npm cache clean/npm install pointing at master with latest fix

[2015-08-12 06:15] aexmachina commented on #54
Yes, my mistake - should be fixed now via #61.

[2015-08-12 13:49] felixkiss commented on #54
It doesn't work for me.

Upgrade to master branch, `package.json`:
[code]

I inject the notify service into a controller:
[code]

I use it:
[code]

---

Error:
[code]

`self.notify` in the console:
[code]

What can I do?

[2015-08-12 23:20] aexmachina commented on #54
You need to use `get` to access injected properties. Which reminds me, I need to update the docs

[2015-08-17 09:01] msalahz commented on #54
Any updates ?

[2015-08-17 20:36] dasnixon opened #62 "Support `SafeString`?"
Was curious if you would mind me implementing support for `SafeString` being passed to `notify`? I currently have a use case with `ember-i18n`, where the translated property is an object (`SafeString`). However, each time I pass it to `notify` I need to call `.toString()`. Obviously this should be on `ember-i18n`, but I feel like it could be useful.

[2015-08-18 02:10] aexmachina commented on #62
Yes that'd be great. Please do!

[2015-08-18 05:29] aexmachina commented on #54
All the tests are passing on release, beta and canary so I've published v4.0.0. Let me know if there's any issues.

[2015-08-18 05:29] #54 closed

[2015-08-18 18:29] Panman8201 commented on #54
@aexmachina I'm not sure if you want to keep backwards compatibility, since it *is* a new major version, but you could include an initializer to inject it into routes and controllers like it used to be. That way ppl don't need to implicitly inject the service.

[code]

[2015-08-18 22:40] Panman8201 commented on #49
I haven't used this with liquid-fire just yet, but plan to. With the 4.0.0 release, is this issue resolved as well?

[2015-08-18 22:58] aexmachina commented on #49
Could well be. I'm relying on others a bit now because I'm not working in
ember at the moment. Would you like to check?

On Wed, 19 Aug 2015 08:40 Ryan Panning <notifications@github.com> wrote:

[2015-08-19 01:18] aexmachina commented on #54
Yes I'm aware of that, although I think that it's clearer to have the dependency in the class. Also injecting `notify` caused a problem with liquid-fire. I'll add an optional initializer that you can manually import.

[2015-08-19 01:18] aexmachina commented on #49
This should be resolved in v4.0.0.

[2015-08-19 01:18] #49 closed

[2015-08-19 03:53] aexmachina commented on #54
I've added an initializer and docs to README.

[2015-08-24 13:52] sbounmy commented on #62
Just encountered this today with ember-i18n, would be great aswell ! let me know if I can help :+1:

[2015-08-25 00:56] aexmachina commented on #62
Should be pretty simple, I just don't have the time/need so I'm relying on you for PRs!

[2015-09-08 19:52] spruce commented on #45
for anybody reading this thread. maybe gonna help to have a constuct like this:
[code]

[2015-10-04 19:02] jchamet opened #63 "Documentation needs to be updated for Ember 2.0 support"

[2015-10-05 10:49] aexmachina commented on #63
What's wrong with the docs for Ember 2.0?

[2015-10-15 19:34] KennedyTedesco commented on #41
It would be great an option like that:

[code]

Possible values: top left, bottom right etc.

Example:

[code]

[2015-10-15 23:18] aexmachina commented on #41
Anyone feel like doing a PR for this? I'm not using Ember at the moment, so I'm not the right person to do it.

[2015-10-21 12:43] dukex commented on #59
Hi guys, I'll love see this feature here. I'm using ember-notify in my app and I need Web Notification support. I have same questions about it:

* When user has web notification support in the browser, the ember-notify will send duplicate notifications or only web notification?
* Web notification has icon support, the ember-notify will create other API with icon params or always notification need

[2015-10-21 22:49] aexmachina commented on #59
Are we able to detect whether web notifications are enabled? If so then I think we should only display the web notification, not the DOM notification.

I think it's important to add icon support for both DOM and web notifications.

[2015-10-23 02:02] vikram7 commented on #63
@jchamet Can you clarify what you mean?

[2015-11-18 19:00] efx commented on #59
@aexmachina @dukex   web notifications appear to need permission first. This other library (notifications.js) has some logic that calls the native API methods to determine whether the web notifications are enabled:
https://github.com/MrSwitch/notification.js/blob/master/notification.js#L189

[2015-11-18 19:05] efx opened #68 "[Feature Request] configurable positioning/CSS"
Thanks for making this plugin; it is a lean alternative to other notification plugins in ember addon lands.
I would appreciate being able to configure the CSS included when I install the add on. Right now, I would need to manually override most of the style declarations in `vendor/ember-notify.css`. It would be great to be able to set classes on the `ember-notify` component so that I could have no

[2015-11-19 04:13] aexmachina commented on #68
Yes I think that's a good idea. I'm not using this module at the moment, so a PR would be preferred.

[2015-11-20 21:18] efx opened #69 "state bug when manually closing message"
I ran into this while starting on my PR for #68.
I manually confirmed this does not affect 4.2.0 (912ba93475e3ec4b90dfe781a10573f4043b5438).
# steps to reproduce
## prep environment
[code]
## user actions
1. navigate to localhost:4200 (open dev tools if you want the stack trace)
2. click on the close icon of the notification in the bottom right corner of the screen
3. you should see the following

[2015-11-26 13:14] aalasolutions opened #71 "Foundation vs 6"
I think foundation 6 dont have alert-box now.

It was not showing any background color for me. I have changed  the following line

[code]

Colors issue is fixed.

[2015-11-28 14:54] efx commented on #68
merged as of https://github.com/aexmachina/ember-notify/pull/70

[2015-11-28 14:54] #68 closed

[2015-11-30 00:22] aexmachina commented on #71
Cool! Feel like submitting a PR? I'm not using Ember at the moment (doing mobile dev) so I'm relying on the community to keep this module supporting new developments.

[2015-12-04 11:26] ohcibi commented on #45
The above approach does not work if there is more going on before the dialog is shown. Also `andThen` to wait for the `click` to finish won't work as it waits for the animation to finish.

@aexmachina could you provide an example on how to test/stub ember-notify properly? I agree that we are not testing notify but our app code. But then again in an acceptance test I'm not testing my implementation

[2015-12-07 23:23] aexmachina commented on #45
The way that I do this in the ember-notify tests is to observe the `visible` property. See [this test](https://github.com/aexmachina/ember-notify/blob/master/tests/unit/components/ember-notify-test.js#L33) and in particular the [`observeSequence` function](https://github.com/aexmachina/ember-notify/blob/master/tests/helpers.js#L7).

[2015-12-08 13:11] ErunamoJAZZ opened #73 "Demo's domain looks dead?"
Hello.
The domain http://aexmachina.info/ was closed.

[2015-12-09 04:50] aexmachina commented on #73
Yup, the domain's been poached. Working on it now. Thanks.

[2016-01-10 10:58] bekzod commented on #62
I think this issue should be closed

[2016-01-11 18:47] dasnixon commented on #62
@seven7seven thanks for the implementation!

[2016-01-19 06:16] #62 closed

[2016-01-29 14:37] knownasilya commented on #73
Now it's malicious...

[2016-02-08 06:27] #73 closed

[2016-02-08 06:32] #69 closed

[2016-02-08 06:32] #63 closed

[2016-03-25 00:15] josefguenther opened #77 "TypeError: renderNode is undefined"
My notification shows up correctly, then disappears correctly, then I get the following error in the console:
[code]

It seems to be tied to the setTimeout function (based on tracing it back)... Every new route I navigate to, I get the error again. It is only after showing the notify box. Before showing `ember-notify`, I don't get the error.

Here's my controller:
[code]

And my application.hbs:
[

[2016-03-29 06:24] aexmachina commented on #77
I've just run the test suite, which tests against release, beta and canary versions of Ember and there's no errors being generated. What version of Ember are you using?

[2016-04-18 15:00] Gaurav0 opened #80 "Ember.merge is deprecated in Ember 2.5"
Need to use Ember.assign where available and fall back to Ember.merge where not.

[2016-04-19 01:22] aexmachina commented on #80
That was fixed in https://github.com/aexmachina/ember-notify/commit/4d85340e82f216218d97e9daff0ce0a933c4187f

[2016-04-19 01:22] #80 closed

[2016-04-29 21:54] dgavey opened #82 "Notify messages not showing in tests"
I have an odd problem.  While running my tests I've noticed that the notify alerts aren't showing up at all.  We recently moved from alertify and they were working fine in test mode.

I'm using Ember 1.13.12 and the ember-notify 5.0.3

What's really strange about this, is if I access to dom while the tests are running, I can see that the notify elements are being created and removed so quickly tha

[2016-05-01 23:45] aexmachina commented on #82
Yes, that's intentional. I've added an explanation and workaround [to the README](https://github.com/aexmachina/ember-notify#usage-in-tests).

[2016-05-01 23:45] #82 closed

[2016-05-29 14:37] dennismende opened #85 "Not able to test usage of notifications during acceptance tests"
Hi,

I'm not able to test notifications in my acceptance tests. I imported Notify and set testing to true but it doesn't work.

This is my test:
[code]
and page.notifyBoxAmount = count('.ember-notify').

My controller function looks like this:

[code]

Does anyone have an idea on this?

[2016-05-30 00:39] aexmachina commented on #85
I wouldn't test this using the DOM. I'd set `this.notify.alert()` to a spy and confirm that it's called.

If you're using the DOM then you'll need to wait for the child to be inserted, which may take an extra turn of the event loop.

You shouldn't set `EmberNotify.testing` to true, this is used for its own internal testing. The default behaviour in tests is to run asynchronously, but without any d

[2016-05-30 00:39] #85 closed

[2016-06-01 05:56] williamherry opened #87 "document on home page(demo page) need update"
not mention should inject notify service on home page http://simonwade.me/ember-notify

[2016-06-15 12:37] Nainterceptor commented on #77
Hi @aexmachina @josefguenther,

I've seen similar error : Maybe it's a bug inside the Ember inspector plugin (with Firefox).
Please check if you have this error with the plugin disabled. (Simplest test)

Regards,
Gaël

[2016-07-20 01:08] gte451f opened #88 "Acceptance Tests...again"
I see that this has popped up here and there in previous issue but I am completely lost on how to verify success or failure on my tests.

Some examples seem to indicate you turn on alerts during testing but that slows things down:
// my-acceptence-test.js
import Notify from 'ember-notify';
Notify.testing = true;

I just want to detect if a notify.success() or notify.alert() is called from within t

[2016-07-20 15:27] jonathansamines opened #89 "Global options for the notify service?"
Hi, I was wondering if it is possible to setup the notify options by configuration (for example by using the config/environment in my application) ?

[2016-07-27 02:05] aexmachina commented on #89
Hi, no this isn't supported. Better to have one way to configure - using the component.

[2016-07-27 02:05] #89 closed

[2016-08-16 12:11] ianbale opened #90 "_emberNotify.default.alert is not a function"
Hi guys,

I've just added this to my ember-cli project. I'm currently on cli v 2.2.0

I'm trying to use this from within a component:

gives me:
Uncaught TypeError: _emberNotify.default.alert is not a function

I have {{ember-notify messageStyle='bootstrap'}} in my application.hbs

using tis.notify.info("hello")  in a controller gives me several errors including:
Uncaught TypeError: Cannot read pr

[2016-08-28 13:06] aexmachina commented on #90
That's not the correct usage. See the [usage](https://github.com/aexmachina/ember-notify#usage) section of the README.

[2016-08-28 13:06] #90 closed

[2016-08-29 21:05] lifeart commented on #59
http://nickersoft.github.io/push.js/

[2016-09-09 22:43] jaredgalanis opened #91 "ember-notify after transition"
I am currently unable to get ember-notify to fire after transitioning routes. Is there a way to fire a notification after a transition to another route has occurred?

I can get a plain JS alert to fire after transitioning:

[code]

[2016-09-12 03:26] aexmachina commented on #91
I can't think of any reason why that wouldn't work. Does notification work in other circumstances?

[2016-09-12 06:11] bradhaydon opened #92 "Ember.Handlebars.SafeString raises a deprecation warning in Ember 2.8.0"
I receive a deprecation warning when upgrading to Ember 2.8.0 regarding `Ember.Handlebars.SafeString`

http://emberjs.com/blog/2016/09/08/ember-2-8-and-2-9-beta-released.html#toc_code-ember-string-ishtmlsafe-code

[2016-09-12 11:48] jaredgalanis commented on #91
Apologies, I added {{ember-notify}} to application.hbs and removed it from the many other templates where I was including it and things seem to be functioning as expected now.

[2016-09-12 11:48] #91 closed

[2016-09-12 16:57] bradhaydon commented on #92
This issue was resolved with the release of 5.1.1

[2016-09-12 16:57] #92 closed

[2016-09-15 17:37] celicoo opened #94 "Square borders not working"
I would like to use square borders, is it possible? I'm trying set the `radius` to false:

[code]

Result:

![captura de tela 2016-09-15 as 14 37 17](https://cloud.githubusercontent.com/assets/7903844/18560441/eefe9c02-7b51-11e6-816f-4b067fd3628c.png)

[2016-09-15 23:36] aexmachina commented on #94
What [message style](https://github.com/aexmachina/ember-notify#compatibility) are you using? It may be that support for the radius property hasn't been added.

[2016-10-05 10:59] basz opened #97 "Q: Can we define a animation when manually closing?"
When clicking the close button the notify box simply disappears. I would prefer to use an animation for that... Possible?

[2016-10-10 05:22] aexmachina commented on #97
The animation is definitely showing for me when I manually close. See here for a demo:

http://simonwade.me/assets/ember-demos/#/ember-notify

[2016-10-10 16:35] SirZach opened #99 "Uncaught TypeError: t.default.String.isHTMLSafe is not a function"
Referring to this line of code: https://github.com/aexmachina/ember-notify/commit/be9018ac82d3de9e7f623f6ae5f6d5f4819d94c6

[2016-10-10 23:33] aexmachina commented on #99
What version of Ember are you using?

[2016-10-11 00:30] SirZach commented on #99
`2.7.3`

[2016-10-11 06:47] aexmachina commented on #99
Cool, thanks. Fixed v5.1.4.

[2016-10-11 11:22] SirZach commented on #99
Thanks!

[2016-10-11 11:22] #99 closed

[2016-10-12 09:52] lan0 opened #100 "Missing CSS"
Since 5.1.3 the CSS for the positioning seems to be missing.

Was the removal of this intentional? https://github.com/aexmachina/ember-notify/commit/3025cb86e6975fd755b73e53dca2861c9be40ab8#diff-168726dbe96b3ce427e7fedce31bb0bcL7

[2016-10-12 23:29] aexmachina commented on #100
No, it wasn't. That was from a PR. Have fixed in v5.1.5, thanks for letting me know.

[2016-10-12 23:29] #100 closed

[2016-11-07 23:49] robj opened #101 "undefined is not a function after ember-cli 2.9.1 upgrade"
using ember-notify 5.1.6

[code]

[2016-11-15 04:53] robj commented on #101
The problem was Object.assign, downgrading to ember-notify v5.1.5, and adding the object-assign dependency resolved this for me

[2016-11-15 05:32] aexmachina commented on #101
Okay thanks. Have pushed v5.1.7 with a polyfill for this.

[2016-11-17 21:19] rstudner opened #102 "Ember Notify 5.1.7 w/ Ember 2.9.1"
in a component:
[code]

output is:
function {subclass of Ember.Service}
Uncaught TypeError: _emberNotify.default.success is not a function(…)

(happens with .info etc too)

[2016-11-17 23:03] aexmachina commented on #102
That's not the usage. See the [usage](https://github.com/aexmachina/ember-notify#usage) in the README.

[2016-11-17 23:03] #102 closed

[2016-11-17 23:04] rstudner commented on #102
@aexmachina - Ahh, I was on your demo site, which had the usage above that wasn't working.
http://simonwade.me/ember-notify

[2016-11-17 23:05] aexmachina commented on #102
Right I see, thanks for pointing it out. I should probably remove them, too hard to keep up to date!

[2016-11-17 23:10] rstudner commented on #102
Is a brilliant add-on - thank you!

On Nov 17, 2016 6:05 PM, "Simon Wade" <notifications@github.com> wrote:

[2017-01-06 11:27] mervinva opened #103 "How to provide colour to the notifications ?"

[2017-01-06 11:27] #103 closed

[2017-01-06 11:28] mervinva opened #104 "Colour to notifications"
How can we provide colour to the notifications ?

[2017-01-09 09:30] aexmachina commented on #104
You can specify `classNames` in the call to display the message. I've pushed v5.2.0 which restores this functionality and added usage to the README 👍

[2017-01-09 09:30] #104 closed

[2017-04-22 12:13] #71 closed

[2017-05-10 03:27] jakeleboeuf opened #108 "Close method?"
Is a close method available?

I'd like to have a message `saving...` and then when a promise resolves, flip the message to `saved!`. OR, I'm fine with a `saving...`, and then I'll close it when the promise resolves and fire a new message.

[2017-05-10 03:31] jakeleboeuf commented on #108
Ahhhh I found it. Maybe not the most obvious solution, but it's there!!

[code]

[2017-05-10 04:27] aexmachina commented on #108
Yep, that's it.

[2017-05-10 04:27] #108 closed

[2017-05-12 18:01] johnsogg opened #109 "homepage docs say to use 'raw' instead of 'html' for styled messages"
The homepage docs at http://simonwade.me/ember-notify currently have this for writing styled messages:

[code]

It should be:

[code]

The Github readme has it right though, which is how I spotted the bug.

[2017-06-30 08:45] woprandi opened #110 "Identify notification to avoid stacking"
Hi,

A interresting feature would be to define a ID for each notification to be able to replace one instead of always stacking notifications. Useful when you have notifications without timeout and want to have only one notification per type.

[2017-07-03 00:04] aexmachina commented on #110
You can do this in code. Calls to `info|warn|error` return a `Message` object that you can manipulate, e.g. set `visible` or change the `message`.

[2017-07-03 00:04] #110 closed

[2017-10-25 15:26] Jordan4jc commented on #85
@aexmachina Would you have an example of using a spy in an acceptance test to test for this? I'm pretty lost and have been searching for hours trying to understand how to do this.

[2017-10-25 22:24] aexmachina commented on #85
I’m afraid I’m not using this project at the moment Jordan. ​In an
acceptance test you probably just want to andThen check that the element is
in the DOM, but it’s been a while since I’ve used it. You can set
Notify.testing
= true to disable the delays, see ember-notify-test.js for an example.
​

[2017-12-02 14:42] lypborges opened #111 "Support for ember-cli: 2.16.2 - unknown injection: 'service:notify'""
First, thank for this addon. Maybe I'm doing something wrong.
I'm use it with ember-cli 2.16.2, but can't figure out how to inject the service from one controller

[code]

I also tried to make a initializer for all controller:

[code]

code
:
undefined
description
:
undefined
fileName
:
undefined
lineNumber
:
undefined
message
:
"Assertion Failed: Attempting to inject an unknown injection: 'servic

[2017-12-02 17:43] lypborges commented on #111
It was a error in my app. Sorry for the issue.

[2017-12-04 01:20] aexmachina commented on #111
Okay. You should close the issue if it's resolved.

[2017-12-04 01:20] #111 closed

[2017-12-07 21:13] justinboohan opened #112 "Notify not showing on mobile"
This is a wonderful addon, really great to use. The only problem I can see is that if I'm at the top of the screen on android the notification message doesn't show as it's tied to the bottom. Can it be tied to the bottom of the viewport rather than the bottom of the page?
Is there a css workaround for this?

[2017-12-11 00:54] aexmachina commented on #112
That doesn't happen for me. I suspect it's something in your CSS. You can use the [demo page](http://simonwade.me/assets/ember-demos/#/ember-notify) to see for yourself (use the inspector to make the `fieldset` `height: 100vh`). Feel free to reopen if necessary.

[2017-12-11 00:54] #112 closed

[2018-01-14 01:53] Nippius opened #113 "Upgrade dependencies"
Hi,

Could someone upgrade de required dependencies for this project?
The latest version of ember (>=2.18) throws deprecated warnings because this (and other) addons are using a deprecated version of ember-cli-version-checker directly or indirectly.

In particular, the packages that seem to be causing trouble are:

- ember-cli-babel
- ember-cli-htmlbars

Thank you

[2018-03-26 20:39] scottkidder commented on #113
:tada:

[code]

[2018-05-02 20:01] plicjo commented on #88
I'm struggling with this in 2018 too. I love this library, but this is backbreaking.

[2018-05-02 20:47] plicjo commented on #88
I'm able to acceptance test Ember Notify when it's configured to never close the alert.

I have a setting in my application controller that makes the alert never close in the test environment, but works as normal in my production/development environment.

`app/templates/application.hbs`

[code]

I then configure the library to not close in my application controller.

`app/controllers/application.j

[2018-07-08 18:35] knownasilya commented on #88
Is there a better alternative?

[2018-07-09 01:47] knownasilya commented on #88
Cc @rwjblue is there a standard or recommended way?

[2018-07-11 14:55] solominsn opened #120 "Assertion Failed: Attempted to call .send() with the action 'closeIntent' on the destroyed object"
Hello, I've updated to Ember 3.2 and noticed an error message from `ember-notify`. I cannot say that the problem connected with Ember version because I unable to roll back to Ember 2.x and to my old code.

Ember error happens when try to close notification by close action. I've looked at to source code and found logical error which seems not connect with Ember version.
What happens:
1. `close` act

[2018-07-16 12:36] danielspaniel opened #122 "Can you make a new patch release ?"
I want to get the latest on master ( I know I can put #master in package.json ). But this addon has not had new release it a year, and it's about time .. no?
 You've updated ember-cli-babel and apps now adays kinda needs that to avoid the deprecation errors.

[2018-07-31 18:38] drouhard opened #123 "Notification messages do not close in IE11"
Messages no longer close in IE11 either after a timeout or when clicking the close button. They just persist indefinitely.

I suspect this changed when [jQuery was removed](https://github.com/aexmachina/ember-notify/commit/d4ac0ae9923d28effdbb1c39c9cd2af6dbafebb0), as I see at least one replacement that isn't supported by IE.

For example, using the [matches selector](https://github.com/aexmachina

[2018-08-19 11:40] NullVoxPopuli commented on #88
As a user of Bulma, and specifically, bulma-toast, and since I'm thinking about using this library instead of bulma-toast, and am also struggling with acceptance testing toasts... I'm very interested in the solution to this :)

[2018-09-24 17:59] btecu commented on #123
The cause is IE not having `Element.matches` but `Element.msMatchesSelector`:
https://github.com/aexmachina/ember-notify/blob/master/addon/components/ember-notify/message.js#L65

[2018-10-03 15:16] bryanhickerson commented on #123
@btecu Is there a way to polyfill `matches` for ember-notify? I'd be happy to open a pr, but I'm not sure how to go about it. Otherwise we're going to be stuck on ember-notify 5.2.1, which is using a deprecated version of babel.

[2018-10-03 15:40] btecu commented on #123
@bryanhickerson You actually don't need to polyfill `matches` because IE 11 already supports it, it just has a different name.

Somewhere in your application:
[code]

[2018-10-03 15:44] bryanhickerson commented on #123
@btecu Ah, thanks. It seems like that should live in ember-notify. I'll open PR with that change.

[2018-11-06 17:13] scottkidder commented on #120
Are there any existing efforts to fix this?

[2019-01-09 00:42] arthur5005 commented on #122
Agreed, it's 2019! The future is now!

[2019-01-23 15:08] efx opened #127 "ember 3.9.x deprecating overriding computeds"
As of `3.9.0-canary+5d2b5537`, a deprecation warning occurs for overriding computeds:
[code]
I think we could  simply update the documentation to encourage using `defaultClass="custom-notify"`, instead of overriding the computed.
Relevant behavior here: https://github.com/aexmachina/ember-notify/blob/master/addon/components/ember-notify.js#L17-L19

[2019-03-06 02:24] #94 closed

[2019-04-30 09:42] coolheinze commented on #120
As latest commit is from July 2nd, this is still a problem. Any plans on fixing it?

[2019-05-14 19:15] btecu opened #129 "Consider transferring to `adopted-ember-addons`"
@aexmachina since there's not much _official_ activity here, would you consider the addon to the `adopted-ember-addons`? That way the community can keep the addon updated.

https://github.com/adopted-ember-addons/program-guidelines

[2019-05-15 07:15] aexmachina commented on #129
I'd be happy to do this, but having a hard time finding the time. If you wanted to prepare the PR to move it, I'm happy to merge it and transfer ownership

[2019-05-21 23:12] #129 closed

[2019-05-23 15:18] #123 closed

[2019-05-27 19:24] btecu commented on #120
Can someone put together a reproduction (ideally a test)?

[2019-05-28 00:49] #113 closed

[2019-05-28 00:49] #127 closed

[2019-05-28 00:50] btecu commented on #101
Closing this as solved.

[2019-05-28 00:50] #101 closed

[2019-05-28 00:51] btecu commented on #87
Closing this since that website no longer exists.

[2019-05-28 00:51] #87 closed

[2019-05-28 00:52] btecu commented on #97
Closing this due to inactivity. @basz if it's still an issue, open a new one.

[2019-05-28 00:52] #97 closed

[2019-05-28 22:15] btecu commented on #77
@josefguenther / @Nainterceptor is this still an issue?
Can you put together a reproduction or a test?

[2019-05-28 22:16] btecu commented on #59
@jfrux are you still interested in implementing native notifications?

[2019-05-29 07:34] Nainterceptor commented on #77
Hello, I'm not longer working with Ember, on any production project, so I cannot reproduct this issue right now.

[2019-05-29 15:31] btecu opened #136 "Update Tests"
Currently the tests are noisy because of some deprecations.

We need to update to use new `ember-mocha` features:
 - [Guide](https://github.com/emberjs/ember-mocha/blob/master/docs/migration.md)
 - [Code Mods](https://github.com/Turbo87/ember-mocha-codemods)

Make use of newer `@ember/test-helpers` and remove `ember-native-dom-helpers`.

Enable back `js` linting: https://github.com/adopted-ember-a

[2019-05-29 18:58] btecu commented on #122
There is a new version, https://github.com/adopted-ember-addons/ember-notify/releases/tag/6.0.0 which fixes all existing deprecations in addition to removing jQuery dependency and other enhancements.

[2019-05-29 18:58] #122 closed

[2019-05-30 16:04] btecu commented on #120
I believe this issue is fixed after https://github.com/adopted-ember-addons/ember-notify/pull/135.

[2019-05-30 16:04] #120 closed

[2019-05-30 16:05] btecu commented on #109
The website doesn't exist anymore.

[2019-05-30 16:05] #109 closed

[2019-06-18 17:08] zofskeez commented on #88
I just ran into the same issue. Prior to Ember 3 we had been stubbing the notify service and while I was refactoring the acceptance tests I was seeing `this.get('source').setTarget is not a function` when registering the stub in the beforeEach hook.

The ember-notify component lives in our application template and we already had a computed prop setup to read the ENV from the config so conditionall

[2019-08-08 18:41] ttill opened #138 "Programmatically hiding messages broken"
In the past it was possible to manually remove open messages again (as documented in the readme) by doing `message.set('visible', false);`. This was broken in 436a3e526c58f1ec605169a91f59f03deaed9b33.

It would be great to have this feature back.

[2019-08-08 20:34] btecu commented on #138
Can you do something like `message.selfClose()`?

[2020-03-26 09:28] jameswmcnab commented on #138
Just came up against this issue, is this addon still maintained?

[2020-03-26 11:41] btecu commented on #138
@jameswmcnab yes, I haven't had tried it yet but does `message.selfClose()` not work?

[2020-03-26 11:44] ttill commented on #138
We do not have direct access to `message`. See #139.

[2020-03-26 11:50] btecu commented on #138
@ttill While I don't think that's the cleanest approach, it would solve your need and @jameswmcnab. Can you get the tests to pass?

[2020-03-27 16:49] ttill commented on #138
@btecu How would you propose to expose the close functionality?

By rebasing on master I was able to break the tests even more. Previously it only failed for some ember versions, now it fails for all of them. I do not understand how the errors would be related to my changes. Do you have any idea? Locally the tests pass. Thanks.

[2020-03-29 16:35] btecu commented on #138
@ttill I think we need to:

Update ember-cli to latest version
Fix lint & deprecations
I took a stab at this in #152 and I got it updated and fixed a few deprecations, but there are several left. Do you have some cycles to help?

[2020-03-30 15:03] ttill commented on #138
@btecu I will try to have it a  shot later today

[2020-06-08 17:27] gvocale opened #155 "In Glimmer: EmberObject.create no longer supports defining computed properties"
I am trying to do the following:
[code]
and
[code]
But I get the following error in console:
[code]

[2020-06-08 17:55] gvocale commented on #155
Rewriting it this way seem to have fixed the issue:
[code]

[2020-06-08 21:50] gvocale commented on #108
Is there a way to specify an action to fire after closing each notification?

I.e.:
[code]

[2020-06-09 03:12] btecu commented on #155
Ciao @gvocale! Do you mind submitting a pull request to update the documentation?

[2020-06-09 16:40] gvocale commented on #155
@btecu I don't seem to have write access and be able to open the PR. Can I still open a PR in some other way?

[2020-06-09 16:51] gvocale opened #156 "Fire action on close"
Is there a way to pass an action to fire on notification close?

I.e:
[code]

[2020-06-10 01:10] btecu commented on #155
You have to fork the repository, then make the changes and push it. Once that's done you should be able to open a pull request.

[2020-06-10 01:15] btecu commented on #156
It does not support that, but it's probably doable. You'd have to pass some `onClose: this.someAction` and then in `close()` you would check if there's a `onClose` set:

https://github.com/adopted-ember-addons/ember-notify/blob/master/addon/components/ember-notify/message.js#L58

[2020-06-11 03:46] btecu commented on #155
Fixed in #157.

[2020-06-11 03:46] #155 closed

[2021-03-29 19:40] esbanarango opened #163 "DEPRECATION: `hasBlock` is deprecated. Use `has-block` instead."
**DEPRECATION:**

`hasBlock` is deprecated. Use `has-block` instead. ('ember-notify/templates/components/ember-notify/message.hbs' @ L1:C6)  [deprecation id: has-block-and-has-block-params] See https://emberjs.com/deprecations/v3.x#toc_has-block-and-has-block-params for more details.

[2021-04-23 06:38] bertdeblock commented on #163
@btecu I see you made a commit for this deprecation on your fork. Were you planning on making a PR for this? Otherwise I can do this as well.

[2021-04-23 14:40] #163 closed

[2021-04-23 15:13] btecu commented on #163
@bertdeblock I merged that pull request. The change likely requires a major release, since `hasBlock` was deprecated recently.
However, to release a new version we should fix the tests (https://github.com/adopted-ember-addons/ember-notify/issues/136). Would you be able to help with that?

[2021-04-26 19:01] bertdeblock commented on #163
Thanks for merging! I don't think it requires a major release though. [`{{hasBlock}}` was an alias for calling `{{has-block}}` without a block name or for calling it with the block name `default`](https://github.com/emberjs/rfcs/pull/689/files#diff-5614e1898359c3aa6fe4feb634d860fef3e41295531dcf1549a9ccb825152076R23-R25).

[2021-04-30 20:15] btecu commented on #163
@bertdeblock `6.0.1` has been released.

[2021-04-30 20:16] esbanarango commented on #163
Thank you 🙏

[2021-05-11 21:23] gangware72 commented on #45
Hi folks, man in the future here. All this is now irrelevant IMO. The test helper waitFor can take care of this particular issue:

[2021-11-18 07:16] GabrielCousin opened #178 "Any plans with releasing the latest changes?"
Hey, all!
We ran into some issues (not really related to the package though) after upgrading to Ember 3.28 ([this change](https://github.com/adopted-ember-addons/ember-notify/commit/9dabbd3b2f85584df7bf580c1bf15f7b1d0a8912) is solving our issue). Despite that import change was supposed to be a [deprecation](https://deprecations.emberjs.com/v3.x#toc_ember-string-htmlsafe-ishtmlsafe) so far, it stop

[2021-11-19 00:32] btecu commented on #178
@GabrielCousin [6.0.2](https://github.com/adopted-ember-addons/ember-notify/releases/tag/v6.0.2) has been released.

[2021-11-19 00:32] #178 closed

[2021-11-19 06:22] GabrielCousin commented on #178
Fantastic! Thank you

[2022-02-11 11:10] abueloshika opened #181 "6.0.2: _runloop.run.later is not a function"
I recently updated to Ember 4.1.1 and Ember Notify 6.0.2. Since the update I get the following an error when a Notify element tries to close:

[code]

and the element just hangs around on the UI. The error occurs with or without a `closeAfter` argument.

[2022-03-29 11:07] gzurbach commented on #181
I just opened a PR to fix this deprecation warning and allow usage with Ember 4.

Note : I am not sure if it's all backward compatible (as in: when was `later` exported from the package).

[2022-03-31 23:54] #181 closed